<!DOCTYPE html>
<div ng-controller="searchCtrl as vm" class="search container">
    <nav class="navbar-auranet navbar navbar-fixed-top text-uppercase">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                    <i class="fas fa-bars fa-fw"></i>
                </button>
                <a class="navbar-brand py-10px" href="#">
                    <img src="img/logo.png" />
                </a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li ng-show="!vm.logged" class="blue-bg-color">
                        <a class="white-color" ui-sref="register">
                            Registrarse
                        </a>
                    </li>
                    <li ng-show="!vm.logged" class="gray-bg-color cursor-pointer">
                        <a class="white-color" ng-click="vm.openNuevoUsuarioModal()">
                            Iniciar Sesión
                        </a>
                    </li>
                    <li ng-show="vm.logged" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{vm.email}} <i class="fas fa-caret-down fa-fw"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <i class="fas fa-home fa-fw"></i> Menú de administración
                                </a>
                            </li>
                            <li>
                                <a ui-sref="search" href="#">
                                    <i class="fas fa-search fa-fw"></i> Búsquedas
                                </a>
                            </li>
                            <li>
                                <a ng-class="vm.logout()" href="#">
                                    <i class="fas fa-door-open fa-fw"></i> Salir
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="contactOption" href="#contact">
                            Contacto
                        </a>
                    </li>
                    <li>
                        <a href="https://auranet.cl" target="_blank">
                            Auranet
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <header>
            <h1>{{vm.title}}</h1>
        </header>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <p>Columna de Filtros</p>
            </div>
            <div class="col-md-8 col-sm-12">
                <p>Columna de Resultados</p>
            </div>
        </div>
    </main>
</div>