@font-face {
    font-family: 'BebasNeue Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'BebasNeue Book';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_book-webfont.woff') format('woff');
}

@font-face {
    font-family: 'BebasNeue Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/bebasneue_light-webfont.eot');
    src: url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'BebasNeue Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'BebasNeue Thin';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/bebasneue_thin-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_thin-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
         url('../fonts/AvenirLTStd-Book.woff') format('woff');
}

/* Fonts */

$default-font: 'Avenir LT Std', 'Arial', 'sans-serif';
$title-font: 'BebasNeue Regular', 'Arial', 'sans-serif';

/* Variables */

$black-color: #000000;
$partial-black-color: #333333;
$white-color: #ffffff;
$partial-white-color: #dddddd;
$blue-color: #3498db;
$gray-color: #626262;
$partial-gray-color: #d1d4d7;
$footer-color: #343434;
$facebook-color: #4267b2;

$text-muted-color-regular: rgb(255, 255, 255);
$text-muted-color-calculated: rgba(255, 255, 255, 0.6);

$panel-accordion-heading-bg: steelblue;
$panel-accordion-heading-color: rgb(255, 255, 255);