/* General */

body {
    font-family: $default-font;
}

/* Buttons */

.btn-facebook {
    color: $white-color;
    background-color: $facebook-color;

    &:hover {
        color: $white-color;
        background-color: darken($facebook-color, 8);
    }
}

.btn-round {
    border-radius: 20px;
}

/* Image Classes */

.bginterno {
    background-image: url('../img/fondo1.jpg');
}

.bginternomaq {
    background-image: url('../img/fondomaquinaria.jpg');
}

.bginternoemp {
    background-image: url('../img/fondo.jpg');
}

/* Center Form */

.center-form {
    align-items: center;
    display: flex;
}

/* Perfil */

.card-perfil {
    .card {
        margin-bottom: 0;

        .text-muted {
            color: $text-muted-color-regular;
            color: $text-muted-color-calculated;
        }
    }

    .card-block {
        position: relative;

        .edit-perfil {
            position: absolute;
            right: 15px;
            top: 21px;
        }
    }
}

/* Registro */

.form-control {
    .group-phone {
        width: 84%;
    }
}

/* Google Maps API */

.pac-container {
    z-index: 9999;
}

.map {
    height: 300px;
    padding: 0;
    width: 100%;
}

/* Accordion Panel */

.panel-accordion-heading {
    background-color: $panel-accordion-heading-bg;
    color: $panel-accordion-heading-color;
}

.panel-heading {
    display: block;
}

a {
    .panel-accordion-heading {
        text-decoration: none;
    }

    .panel-link {
        text-decoration: none;
    }

    &:hover .panel-heading {
        opacity: 0.75;
    }
}

/* Barra de Navegación */

nav {
    &.navbar-auranet {
        background-color: $white-color;
        border-bottom: 1px solid #aaa;

        img {
            width: 45px;
            height: 30px;
        }
    }
}