/* Home */

.home {
    /* General */

    font-family: $default-font;

    .btn-send-message {
        color: $white-color;
        background-color: $gray-color;
    }

    section {
        margin: 0;
        padding: 2rem;

        /* Search */

        &:nth-child(1) {
            padding: 0;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: $title-font;
            }

            h1 {
                font-weight: bold;
            }

            .carousel {
                .carousel-inner {
                    .item {
                        img {
                            width: 100%;
                            min-height: 400px;
                            max-height: 600px;
                        }

                        .custom-carousel-caption {
                            position: absolute;
                            left: 15%;
                            right: 15%;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            z-index: 10;

                            @media screen and (max-width: 767px) {
                                top: 20px;
                            }

                            @media screen and (min-width: 768px) {
                                top: 30%;
                            }

                            h1,
                            h2,
                            h3,
                            h4,
                            h5,
                            h6 {
                                color: $blue-color;
                                text-transform: uppercase;

                                span {
                                    color: transparent;
                                    @include stroke(0.001px, $blue-color);
                                }
                            }

                            @media screen and (min-width: 768px) {
                                h1 {
                                    font-size: 4.5rem;
                                }

                                p {
                                    font-size: 2rem;
                                }
                            }

                            .carousel-form {
                                background-color: rgba($blue-color, 0.8);

                                @media screen and (max-width: 767px) {
                                    padding: 1rem;
                                }

                                @media screen and (min-width: 768px) {
                                    padding: 3rem;
                                }


                                h1,
                                h2,
                                h3,
                                h4,
                                h5,
                                h6 {
                                    font-family: $default-font;
                                    color: $white-color;

                                    small {
                                        color: $white-color;

                                        @media screen and (max-width: 767px) {
                                            font-size: 1rem;
                                        }
                                    }
                                }

                                .text-danger {
                                    color: $white-color;
                                }
                            }
                        }
                    }
                }
            }
        }

        /* Banner */

        &:nth-child(2) {
            color: $white-color;
            background: url('../img/bannerdesktop.jpg');

            @media screen and (min-width: 768px) {
                p {
                    font-size: 2rem;
                }
            }
        }

        /* Contact */

        &:nth-child(3) {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $blue-color;
            }

            @media screen and (min-width: 768px) {
                h1 {
                    font-size: 4rem;
                }

                p {
                    font-size: 2rem;
                }
            }

            textarea {
                resize: vertical;
            }
        }
    }

    footer {
        padding: 2rem;
        color: $white-color;
        background-color: $footer-color;
        text-align: center;
    }
}