/* Register */

.register {
    background: url("../img/fondo1.jpg");
    background-attachment: fixed;

    header {
        a {
            text-decoration: none;
        }
    }
    
    footer {
        background-color: $black-color;
    }
}