<!DOCTYPE html>
<div ng-controller="homeCtrl as vm" class="home">
    <nav class="navbar-auranet navbar navbar-fixed-top text-uppercase">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                    <i class="fas fa-bars fa-fw"></i>
                </button>
                <a class="navbar-brand py-10px" href="#">
                    <img src="img/logo.png" />
                </a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">

                    <li ng-show="!vm.logged" class="blue-bg-color">
                        <a class="white-color" ui-sref="register">
                            Registrarse
                        </a>
                    </li>
                    <li ng-show="!vm.logged" class="gray-bg-color cursor-pointer">
                        <a class="white-color" ng-click="vm.openNuevoUsuarioModal()">
                            Iniciar Sesión
                        </a>
                    </li>
                    <li ng-show="vm.logged" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{vm.email}} <i class="fas fa-caret-down fa-fw"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <i class="fas fa-home fa-fw"></i> Menú de administración
                                </a>
                            </li>
                            <li>
                                <a ui-sref="search" href="#">
                                    <i class="fas fa-search fa-fw"></i> Búsquedas
                                </a>
                            </li>
                            <li>
                                <a ng-class="vm.logout()" href="#">
                                    <i class="fas fa-door-open fa-fw"></i> Salir
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown blue-bg-color">
                        <a class="dropdown-toggle white-color" data-toggle="dropdown" href="#">
                            Servicios <i class="fas fa-caret-down fa-fw"></i>
                        </a>

                        <ul class="dropdown-menu white-bg-color">
                            <li>
                                <a ng-click="vm.goToCarousel(0)" href="#">
                                    Constructor
                                </a>
                            </li>
                            <li>
                                <a ng-click="vm.goToCarousel(1)" href="#">
                                    Maquinarias
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a id="contactOption" href="#contact">
                            Contacto
                        </a>
                    </li>
                    <li>
                        <a href="https://auranet.cl" target="_blank">
                            Auranet
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <section id="search">
            <div id="homeCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="img/proveedores.jpg" alt="Image 1">
                        <div class="custom-carousel-caption">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12 mb-1">
                                    <h1>Constructorchile<span>.cl</span></h1>
                                    <div class="hidden-xs">
                                        <p>Proveedores de materiales, insumos, y servicios de la construcción.</p>
                                        <button type="button" class="btn btn-primary btn-round btn-lg" ui-sref="register">
                                            Regístrate
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-sm-offset-1 col-xs-12">
                                    <div class="carousel-form">
                                        <h3 class="text-center">
                                            Buscar<br />
                                            <small>Proveedores de construcción</small>
                                        </h3>
                                        <!-- Búsqueda de Proveedores -->
                                        <form name="buscarProveedor" novalidate>
                                            <!-- Palabra -->
                                            <div class="form-group">
                                                <input type="text" id="palabraClaveProveedor"
                                                    name="palabraClaveProveedor" class="form-control input-sm"
                                                    placeholder="¿Palabras clave? Hormigón"
                                                    ng-model="vm.searchProveedorForm.palabraClave" required />
                                                <small class="text-danger"
                                                    ng-show="buscarProveedor.palabraClaveProveedor.$touched && buscarProveedor.palabraClaveProveedor.$error.required">
                                                    Este campo es obligatorio
                                                </small>
                                            </div>
                                            <!-- Ubicación -->
                                            <div class="form-group">
                                                <input type="text" id="ubicacionProveedor" name="ubicacionProveedor"
                                                    class="form-control input-sm" placeholder="¿En qué ubicación?"
                                                    ng-model="vm.searchProveedorForm.ubicacion" required />
                                                <small class="text-danger"
                                                    ng-show="buscarProveedor.ubicacionProveedor.$touched && buscarProveedor.ubicacionProveedor.$error.required">
                                                    Este campo es obligatorio
                                                </small>
                                            </div>
                                            <div class="form-group">
                                                <button type="button"
                                                    class="btn btn-default btn-sm btn-block blue-color btn-round text-uppercase"
                                                    ng-disabled="buscarProveedor.$invalid">
                                                    <i class="fas fa-search fa-fw"></i> Buscar
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/maquinarias.jpg" alt="Image 2">
                        <div class="custom-carousel-caption">

                            <div class="row">
                                <div class="col-sm-6 col-xs-12 mb-1">
                                    <h1>Maquinarias<span>.cl</span></h1>
                                    <div class="hidden-xs">
                                        <p>Proveedores de materiales, insumos, y servicios de la construcción</p>
                                        <button type="button" class="btn btn-primary btn-round btn-lg" ui-sref="register">
                                            Regístrate
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-sm-offset-1 col-xs-12">
                                    <div class="carousel-form">
                                        <h3 class="text-center">
                                            Buscar<br />
                                            <small>Maquinarias</small>
                                        </h3>
                                        <!-- Búsqueda de Maquinarias -->
                                        <form name="buscarMaquinaria" novalidate>
                                            <!-- Palabra -->
                                            <div class="form-group">
                                                <input type="text" id="palabraClaveMaquinaria"
                                                    name="palabraClaveMaquinaria" class="form-control input-sm"
                                                    placeholder="¿Palabras clave? Hormigón"
                                                    ng-model="vm.searchMaquinariaForm.palabraClave" required />
                                                <small class="text-danger"
                                                    ng-show="buscarMaquinaria.palabraClaveMaquinaria.$touched && buscarMaquinaria.palabraClaveMaquinaria.$error.required">
                                                    Este campo es obligatorio
                                                </small>
                                            </div>
                                            <!-- Ubicación -->
                                            <div class="form-group">
                                                <input type="text" id="ubicacionMaquinaria" name="ubicacionMaquinaria"
                                                    class="form-control input-sm" placeholder="¿En qué ubicación?"
                                                    ng-model="vm.searchMaquinariaForm.ubicacion" required />
                                                <small class="text-danger"
                                                    ng-show="buscarMaquinaria.ubicacionMaquinaria.$touched && buscarMaquinaria.ubicacionMaquinaria.$error.required">
                                                    Este campo es obligatorio
                                                </small>
                                            </div>
                                            <div class="form-group">
                                                <button type="button"
                                                    class="btn btn-default btn-sm btn-block blue-color btn-round text-uppercase"
                                                    ng-disabled="buscarMaquinaria.$invalid">
                                                    <i class="fas fa-search fa-fw"></i> Buscar
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
        <section id="banner">
            <div class="container">
                <div class="text-center">
                    <p class="mb-2">
                        Reunimos la mayor cantidad de proveedores de
                        <strong>Materiales, Insumos, Servicios, Obra de mano, Maquinarias y Equipos del Mundo</strong>
                        de la Construcción. No te quedes fuera.
                    </p>
                    <button type="button" class="btn btn-default btn-round btn-lg">
                        Regístrate
                    </button>
                </div>
            </div>
        </section>
        <section id="contact">
            <div class="container">
                <div class="text-center mb-2">
                    <h2 class="text-uppercase mb-1">Contacto</h2>
                    <p class="mb-1">
                        Si tienes preguntas o consultas déjanos un mensaje con tu información,
                        y nos pondremos en contacto a la brevedad.
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12 mb-1">
                        <!-- Formulario de Contacto -->
                        <form name="contactForm" novalidate>
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <!-- Nombre -->
                                    <div class="form-group">
                                        <input type="text" id="nombreContact" name="nombreContact" class="form-control"
                                            placeholder="Nombre" ng-model="vm.contactForm.nombre" required />
                                        <small class="text-danger"
                                            ng-show="contactForm.nombreContact.$touched && contactForm.nombreContact.$error.required">
                                            Este campo es obligatorio
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <!-- Teléfono -->
                                    <div class="form-group">
                                        <input type="text" id="telefonoContact" name="telefonoContact"
                                            class="form-control" placeholder="Teléfono"
                                            ng-model="vm.contactForm.telefono" required />
                                        <small class="text-danger"
                                            ng-show="contactForm.telefonoContact.$touched && contactForm.telefonoContact.$error.required">
                                            Este campo es obligatorio
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <!-- Email -->
                                    <div class="form-group">
                                        <input type="email" id="emailContact" name="emailContact" class="form-control"
                                            placeholder="Email" ng-model="vm.contactForm.email" required />
                                        <small class="text-danger"
                                            ng-show="contactForm.emailContact.$touched && contactForm.emailContact.$error.required">
                                            Este campo es obligatorio
                                        </small>
                                        <small class="text-danger"
                                            ng-show="contactForm.emailContact.$touched && contactForm.emailContact.$error.email">
                                            El email ingresado no es válido
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <!-- RUT -->
                                    <div class="form-group">
                                        <input type="text" id="rutEmpresaContact" name="rutEmpresaContact"
                                            class="form-control" placeholder="Rut Empresa"
                                            ng-model="vm.contactForm.rutEmpresa" required />
                                        <small class="text-danger"
                                            ng-show="contactForm.rutEmpresaContact.$touched && contactForm.rutEmpresaContact.$error.required">
                                            Este campo es obligatorio
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- Mensaje -->
                                    <div class="form-group">
                                        <textarea id="mensajeContact" name="mensajeContact" class="form-control"
                                            placeholder="Mensaje..." ng-model="vm.contactForm.mensaje"
                                            required></textarea>
                                        <small class="text-danger"
                                            ng-show="contactForm.mensajeContact.$touched && contactForm.mensajeContact.$error.required">
                                            Este campo es obligatorio
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="button" class="btn btn-send-message btn-block btn-round"
                                        ng-disabled="contactForm.$invalid">
                                        Enviar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1 col-xs-12">
                        <p class="blue-color">Dirección</p>
                        <p>
                            {{vm.contact.direccion}}<br />
                            {{vm.contact.comuna}}, {{vm.contact.ciudad}}
                        </p>
                        <p class="blue-color">Llámanos</p>
                        <p>{{vm.contact.telefono}}</p>
                        <p class="blue-color">Contáctanos</p>
                        <p>{{vm.contact.email}}</p>
                        <p class="flex-row align-items-center">
                            <span class="mr-1 blue-color">
                                Síguenos
                            </span>
                            <a class="gray-color" ng-repeat="socialNetwork in vm.socialNetworks"
                                ng-href="{{socialNetwork.url}}" target="_blank">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-stack-1x white-color" ng-class="socialNetwork.icon"></i>
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        PORTALAURANET.CL - Todos los derechos reservados - {{vm.currentYear}}
    </footer>
</div>