<!DOCTYPE html>
<div ng-controller="registerCtrl as vm" class="register">
    <div class="container white-bg-color">
        <!-- Paso 1-->
        <div ng-show="vm.paso == 1">
            <header>
                <div class="clearfix">
                    <div class="pull-left">
                        <h1 class="text-uppercase">{{vm.title}}</h1>
                    </div>
                    <div class="pull-right text-right">
                        <div class="pt-1">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Más información">
                                <i class="fas fa-info-circle fa-fw"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Ver video">
                                <i class="fas fa-question fa-fw"></i>
                            </a>
                            <a ui-sref="home" data-toggle="tooltip" data-placement="bottom"
                                title="Volver al menú principal">
                                <i class="fas fa-home fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </header>

            <hr />

            <main>
                <!-- Formulario de Registro -->
                <form name="register" class="form-horizontal" novalidate>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="pais" class="col-sm-3 col-xs-12 control-label">
                                    Seleccione País
                                </label>
                                <div class="col-sm-9 col-xs-12">
                                    <select class="form-control" id="pais">
                                        <option value="" disabled>Seleccione un país</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Cabecera -->
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="tipoRegistro" class="col-sm-3 col-xs-12 control-label">
                                    Seleccione Tipo Registro
                                </label>
                                <div class="col-sm-8 col-xs-12">
                                    <label class="radio-inline">
                                        <input type="radio" id="tipoRegistroEmpresa" name="tipoRegistro" ng-model="vm.tipoRegistro"
                                            value="empresa" /> Empresa
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="tipoRegistroPersona" name="tipoRegistro" ng-model="vm.tipoRegistro"
                                            value="persona" /> Persona
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Empresa -->
                    <div ng-show="vm.tipoRegistro == 'empresa'">
                        <div class="row mb-1">
                            <div class="col-sm-6 col-xs-12">
                                <h2 class="mb-1">Datos Empresa</h2>

                                <!-- Identificador Fiscal -->
                                <div class="form-group">
                                    <label for="empresaIdFiscal" class="col-sm-3 col-xs-12 control-label">
                                        Identificador Fiscal
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="empresaIdFiscal" name="empresaIdSocial" type="text"
                                            class="form-control" placeholder="1234567-8" required />
                                    </div>
                                </div>

                                <!-- Razón Social -->
                                <div class="form-group">
                                    <label for="empresaRazonSocial" class="col-sm-3 col-xs-12 control-label">
                                        Razón Social
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="empresaRazonSocial" name="empresaRazonSocial" type="text"
                                            class="form-control" placeholder="Razón Social" required />
                                    </div>
                                </div>

                                <!-- Nombre Comercial -->
                                <div class="form-group">
                                    <label for="empresaNombreComercial" class="col-sm-3 col-xs-12 control-label">
                                        Nombre Comercial
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="empresaNombreComercial" name="empresaNombreComercial" type="text"
                                            class="form-control" placeholder="Ingrese un nombre" required />
                                    </div>
                                </div>

                                <!-- Web -->
                                <div class="form-group">
                                    <label for="empresaWeb" class="col-sm-3 col-xs-12 control-label">
                                        Web
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="empresaWeb" name="empresaWeb" type="text" class="form-control"
                                            placeholder="www.ejemplo.com" required />
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="form-group">
                                    <label for="empresaEmailEmpresa" class="col-sm-3 col-xs-12 control-label">
                                        Email
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="empresaEmailEmpresa" name="empresaEmailEmpresa" type="email"
                                            class="form-control" placeholder="ejemplo@mail.com" />
                                    </div>
                                </div>

                                <!-- Teléfono Celular -->
                                <div class="form-group">
                                    <label for="empresaTelefonoCelularEmpresa" class="col-sm-3 col-xs-12 control-label">
                                        Teléfono Celular
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                56
                                            </span>
                                            <input id="empresaTelefonoCelularEmpresa"
                                                name="empresaTelefonoCelularEmpresa" type="text" class="form-control"
                                                placeholder="Teléfono celular" required />
                                        </div>
                                    </div>
                                </div>

                                <!-- Teléfono Fijo -->
                                <div class="form-group">
                                    <label for="empresaTelefonoFijoEmpresa" class="col-sm-3 col-xs-12 control-label">
                                        Teléfono Fijo
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                56
                                            </span>
                                            <input id="empresaTelefonoFijoEmpresa" name="empresaTelefonoFijoEmpresa"
                                                type="text" class="form-control" placeholder="Teléfono Fijo" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <h2 class="mb-1">Datos Usuario Administrador</h2>

                                <!-- Nombre -->
                                <div class="form-group">
                                    <label for="empresaNombre" class="col-sm-3 col-xs-12 control-label">
                                        Nombre
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="empresaNombre" name="empresaNombre" type="text" class="form-control"
                                            placeholder="Nombre completo" required />
                                    </div>
                                </div>

                                <!-- Email Usuario -->
                                <div class="form-group">
                                    <label for="empresaEmailUsuario" class="col-sm-3 col-xs-12 control-label">
                                        Email Usuario
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="empresaEmailUsuario" name="empresaEmailUsuario" type="email"
                                            class="form-control" placeholder="ejemploe@mail.com" required />
                                    </div>
                                </div>

                                <!-- Contraseña -->
                                <div class="form-group">
                                    <label for="empresaPwd" class="col-sm-3 col-xs-12 control-label">
                                        Contraseña
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="empresaPwd" name="empresaPwd" type="password" class="form-control"
                                            placeholder="***" required />
                                    </div>
                                </div>

                                <!-- Repita Contraseña -->
                                <div class="form-group">
                                    <label for="empresaRepetirPwd" class="col-sm-3 col-xs-12 control-label">
                                        Repita Contraseña
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="empresaRepetirPwd" name="empresaRepetirPwd" type="password"
                                            class="form-control" placeholder="***" required />
                                    </div>
                                </div>

                                <!-- Teléfono Celular (Usuario) -->
                                <div class="form-group">
                                    <label for="empresaTelefonoCelularUsuario" class="col-sm-3 col-xs-12 control-label">
                                        Teléfono Celular
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                56
                                            </span>
                                            <input id="empresaTelefonoCelularUsuario"
                                                name="empresaTelefonoCelularUsuario" type="text" class="form-control"
                                                placeholder="Teléfono celular" required />
                                        </div>
                                    </div>
                                </div>

                                <!-- Teléfono Fijo (Usuario) -->
                                <div class="form-group">
                                    <label for="empresaTelefonoFijoUsuario" class="col-sm-3 col-xs-12 control-label">
                                        Teléfono Fijo
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                56
                                            </span>
                                            <input id="empresaTelefonoFijoUsuario" name="empresaTelefonoFijoUsuario"
                                                type="text" class="form-control" placeholder="Teléfono Fijo" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-xs-12 text-right">
                                <button class="btn btn-primary">
                                    Ir al Siguiente Paso <i class="fas fa-arrow-right fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Persona -->
                    <div ng-show="vm.tipoRegistro == 'persona'">
                        <div class="row mb-1">
                            <div class="col-xs-12">
                                <h2 class="mb-1">Datos Usuario Administrador</h2>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <!-- Nombre -->
                                <div class="form-group">
                                    <label for="personaNombre" class="col-sm-3 col-xs-12 control-label">
                                        Nombre
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="personaNombre" name="personaNombre" type="text" class="form-control"
                                            placeholder="Nombre completo" required />
                                    </div>
                                </div>

                                <!-- Email Usuario -->
                                <div class="form-group">
                                    <label for="personaEmailUsuario" class="col-sm-3 col-xs-12 control-label">
                                        Email Usuario
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="personaEmailUsuario" name="personaEmailUsuario" type="email"
                                            class="form-control" placeholder="ejemplo@mail.com" required />
                                    </div>
                                </div>

                                <!-- Contraseña -->
                                <div class="form-group">
                                    <label for="personaPwd" class="col-sm-3 col-xs-12 control-label">
                                        Contraseña
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="personaPwd" name="PersonaPwd" type="password" class="form-control"
                                            placeholder="***" required />
                                    </div>
                                </div>

                                <!-- Repita Contraseña -->
                                <div class="form-group">
                                    <label for="personaRepetirPwd" class="col-sm-3 col-xs-12 control-label">
                                        Repita Contraseña
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="personaRepetirPwd" name="personaRepetirPwd" type="password"
                                            class="form-control" placeholder="***" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <!-- Teléfono Celular (Usuario) -->
                                <div class="form-group">
                                    <label for="personaTelefonoCelularUsuario" class="col-sm-3 col-xs-12 control-label">
                                        Teléfono Celular
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                56
                                            </span>
                                            <input id="personaTelefonoCelularUsuario"
                                                name="personaTelefonoCelularUsuario" type="text" class="form-control"
                                                placeholder="Teléfono celular" required />
                                        </div>
                                    </div>
                                </div>

                                <!-- Teléfono Fijo (Usuario) -->
                                <div class="form-group">
                                    <label for="personaTelefonoFijoUsuario" class="col-sm-3 col-xs-12 control-label">
                                        Teléfono Fijo
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                56
                                            </span>
                                            <input id="personaTelefonoFijoUsuario" name="personaTelefonoFijoUsuario"
                                                type="text" class="form-control" placeholder="Teléfono Fijo" required />
                                        </div>
                                    </div>
                                </div>

                                <!-- Web -->
                                <div class="form-group">
                                    <label for="personaWeb" class="col-sm-3 col-xs-12 control-label">
                                        Web
                                    </label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input id="personaWeb" name="personaWeb" type="text" class="form-control"
                                            placeholder="www.ejemplo.com" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-xs-12 text-right">
                                <button class="btn btn-primary">
                                    Ir al Siguiente Paso <i class="fas fa-arrow-right fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </main>
        </div>

        <!-- Paso 2-->
        <div ng-show="vm.paso == 2">
        </div>
    </div>
</div>