<!DOCTYPE html>
<div class="modal-header text-center">
    <h4 class="modal-title text-uppercase font-weight-bold">
        Inicio de Sesión
    </h4>
</div>
<div class="modal-body">
    <uib-tabset active="active" justified="true" type="pills">
        <uib-tab>
            <uib-tab-heading class="text-uppercase">
                <i class="fas fa-industry fa-fw"></i> Empresa
            </uib-tab-heading>
            <div class="pt-1">
                <!-- Formulario de Registro para Empresa -->
                <form name="loginEmpresa" novalidate>
                    <!-- ID Fiscal -->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fas fa-industry fa-fw"></i>
                            </span>
                            <input type="text" id="empresaIdFiscal" name="empresaIdFiscal" class="form-control"
                                placeholder="Identificador Fiscal de la Empresa" ng-model="empresaLogin.idFiscal"
                                required />
                        </div>
                        <small class="text-danger"
                            ng-show="loginEmpresa.empresaIdFiscal.$touched && loginEmpresa.empresaIdFiscal.$error.required">
                            Este campo es obligatorio
                        </small>
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fas fa-user fa-fw"></i>
                            </span>
                            <input type="email" id="empresaEmail" name="empresaEmail" class="form-control"
                                placeholder="Email de Usuario" ng-model="empresaLogin.email" required />

                        </div>
                        <small class="text-danger"
                            ng-show="loginEmpresa.empresaEmail.$touched && loginEmpresa.empresaEmail.$error.required">
                            Este campo es obligatorio
                        </small>
                    </div>
                    <!-- Contraseña -->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fas fa-lock fa-fw"></i>
                            </span>
                            <input type="password" id="empresaPwd" name="empresaPwd" class="form-control"
                                placeholder="Contraseña" ng-model="empresaLogin.pass" required />
                        </div>
                        <small class="text-danger"
                            ng-show="loginEmpresa.empresaPwd.$touched && loginEmpresa.empresaPwd.$error.required">
                            Este campo es obligatorio
                        </small>
                        <small class="text-danger"
                            ng-show="loginEmpresa.empresaPwd.$touched && loginEmpresa.empresaPwd.$error.email">
                            El email ingresado no es válido
                        </small>
                    </div>
                    <!-- Ingreso Estándar Empresa -->
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-block" ng-click="processPersonaEmpresa()">
                            Ingresar
                        </button>
                    </div>
                </form>
                <!--
                <div class="well">
                    <p class="text-danger">Los datos de ingreso son incorrectos</p>
                </div>
                -->
            </div>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading class="text-uppercase">
                <i class="fas fa-user fa-fw"></i> Persona
            </uib-tab-heading>
            <div class="pt-1">
                <!-- Formulario de Registro para Persona -->
                <form name="loginPersona" novalidate>
                    <!-- Email -->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fas fa-user fa-fw"></i>
                            </span>
                            <input type="email" id="personaEmail" name="personaEmail" class="form-control"
                                placeholder="Email de Usuario" ng-model="personaLogin.email" required />
                        </div>
                        <small class="text-danger"
                            ng-show="loginPersona.personaEmail.$touched && loginPersona.personaEmail.$error.required">
                            Este campo es obligatorio
                        </small>
                        <small class="text-danger"
                            ng-show="loginPersona.personaEmail.$touched && loginPersona.personaEmail.$error.email">
                            El email ingresado no es válido
                        </small>
                    </div>
                    <!-- Contraseña -->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fas fa-lock fa-fw"></i>
                            </span>
                            <input type="password" id="personaPass" name="personaPass" class="form-control"
                                placeholder="Contraseña" ng-model="personaLogin.pass" required />
                        </div>
                        <small class="text-danger"
                            ng-show="loginPersona.personaPass.$touched && loginPersona.personaPass.$error.required">
                            Este campo es obligatorio
                        </small>
                    </div>
                    <!-- Ingreso Estándar Persona -->
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-block" ng-click="processPersonaLogin()">
                            Ingresar
                        </button>
                    </div>
                    <!-- Botón Ingreso Especial -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <!-- Facebook -->
                                <button type="button" class="btn btn-facebook btn-block" ng-click="connectFacebook()">
                                    <i class="fab fa-facebook-f fa-fw"></i>
                                    Ingresar <span class="hidden-xs">con Facebook</span>
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <!-- Google -->
                                <button type="button" class="btn btn-info btn-block" ng-click="connectGoogle()">
                                    <i class="fab fa-google fa-fw"></i>
                                    Ingresar <span class="hidden-xs">con Google</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div ng-show="invalidLogin" class="well">
                    <p class="text-danger">Los datos de ingreso son incorrectos</p>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>

    <hr />

    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <!-- Botón de Registrarse -->
            <button type="button" class="btn btn-primary btn-block mb-1" ng-click="registerUser()">
                Registrarse
            </button>
        </div>
        <div class="col-sm-6 col-xs-12">
            <!-- Botón de "Olvidé mi contraseña -->
            <button type="button" class="btn btn-primary btn-block" ng-click="resetPassword()">
                Olvidé mi contraseña
            </button>
        </div>
    </div>
</div>